stages:
  - build
  - test

variables:
  PYTHON_VERSION: "3.11"

.base_ruff:
  stage: build
  interruptible: true
  image:
    name: ghcr.io/astral-sh/ruff:0.14.7-alpine
  before_script:
    - cd $CI_PROJECT_DIR
    - ruff --version

Ruff Check:
  extends: .base_ruff
  script:
    - ruff check review_bot/ --output-format=gitlab > code-quality-report.json
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json
    expire_in: 1 week

Ruff Format:
  extends: .base_ruff
  script:
    - ruff format --check review_bot/

Docker Build Test:
  stage: test
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker info
  script:
    - docker build -t ai-review-bot .
  only:
    - merge_requests
    - master